mybatis-plus:
  mapper-locations: classpath:mapper/*.xml
spring:
  datasource:
    username: root
    password: humaoyang123..
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/onlineeducationplatform?serverTimezone=GMT%2B8
  redis:
    host: 192.168.43.131
    port: 6379
    database: 0
    timeout: 1800000
    jedis:
      pool:
        max-active: 20
        max-wait: 1
        max-idle: 5
        min-idle: 0
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
  mvc:
    hiddenmethod:
      filter:
        enabled: true
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848
feign.hystrix.enabled: true
